.overview {
  @layer base {
    * {
      all: revert;
    }
  }

  & {
    padding: 2rem;
    padding-top: 0;
    font-size: 1rem;
  }

  pre {
    overflow-x: auto;
  }

  table {
    display: block;
    overflow-x: auto;
    max-width: 100%;
  }
}
